@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --mainBlue: #2A8BDF;
  --mainBlueDark: #326fa5;
  --mainBlueLight: #E8F3FC;
  --mainBlueLightDark: #E1F1FE;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-mainBlue: var(--mainBlue);
  --color-mainBlueDark: var(--mainBlueDark);
  --color-mainBlueLight: var(--mainBlueLight);
  --color-mainBlueLightDark: var(--mainBlueLightDark);
}

/* @custom-variant gray (&:where(.gray, .gray *)); */
@custom-variant green (&:where(.green, .green *));
@custom-variant pink (&:where(.pink, .pink *));
@custom-variant yellow (&:where(.yellow, .yellow *));
@custom-variant blue (&:where(.blue, .blue *));

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.ms-full-creen {
  @apply min-h-screen flex flex-col
}
.ms-container {
  @apply mx-auto max-w-5xl w-full px-4
}

.spinner {
  @apply text-gray-200 fill-gray-600
}

.button-bg-light {
  @apply border-gray-200 bg-gray-100 hover:bg-gray-200 text-gray-400 hover:text-gray-600 hover:border-gray-300 transition-all
}
.button-bg-dark {
  @apply border-gray-800 bg-gray-700 text-white md:hover:bg-gray-800 transition-all
}

.button {
  @apply flex items-center justify-center md:max-w-48 text-white bg-mainBlue hover:bg-mainBlueDark focus:ring-4 focus:outline-none focus:ring-mainBlueLightDark font-medium rounded-lg text-sm px-5 py-2.5 text-center
}

.button.yellow {
  @apply !bg-yellow-400 !text-yellow-900
}
.button.green {
  @apply !bg-green-600 !text-white
}
.button.gray {
  @apply !bg-gray-200 !text-gray-900 focus:ring-gray-200 
}
.button.disabled {
  @apply !bg-gray-400 cursor-default
}


.step {
  @apply h-10 w-10 bg-gray-200 border border-gray-200 flex items-center justify-center rounded-full
}
.stepActive {
  @apply bg-green-400 border border-green-600 text-white
}
.stepFinished {
  @apply bg-mainBlue border border-mainBlueDark text-white
}
.stepSeparator {
  @apply flex-1 bg-gray-200 h-2 w-2
}
.stepSeparatorFinished {
  @apply bg-mainBlue
}


.input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
}
.input-label {
  @apply block mb-2 text-sm font-medium text-gray-900 dark:text-white
}